@import "../../shared/styles/variables";

* {
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 600;
}

.navbar-brand {
  padding: 21px 15px 15px 15px;
  width: 166px;
  height: 95px;
  background-color: $primary;
}

.img-logo {
  width: 136px;
  height: 51px;
}

.img-product {
  width: 28px;
  height: 30px;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  padding: 0px;
}

.header-telephone-call {
  width: 166px;
  height: 36px;

  font-size: 12px;
  font-weight: bold;
  color: #252525;
  background-color: #b5d8f7;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
}

.header-telephone-call:hover {
  border: 2px solid $primary;
  background-color: white;
}

.header-basket {
  background-color: #b5d8f7;
  width: 134px;
  height: 95px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 9px 0px;
}

.header-basket-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  bottom: 8px;
  left: 50px;
}

.product-category,
.dropdown-toggle {
  width: 75px;
  height: 70px;
  border: 2px solid white;
  border-radius: 7px;
  text-align: center;
  font-size: 14px;

  line-height: 1em;
  display: block;
  font-weight: bold;
  color: #252525;
}

.dropdown-toggle {
  font-weight: normal;
  z-index: 1000;
}

.dropdown-menu-style {
  top: -26px;
  left: -27px;
  padding: 88px 25px 20px 25px;
  z-index: 1;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  border: 1px solid #b5d8f7;
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #252525;
  font-size: 16px;
  line-height: 1em;
  padding: 12px 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: white;
}

.dropdown-item:hover {
  border: 2px solid $primary;
}

.header-work-time {
  width: 212px;
  height: 42px;
  font-family: "RotondaC";
  font-size: 16px;
  line-height: 1em;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-work-time b {
  color: #000;
  font-weight: bold;
}

.work-time {
  font-size: 12px;
  font-family: "Segoe UI";
  color: #5a5a5a;
  line-height: 1em;
}

.tel-num {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: "Segoe UI";
  line-height: 1em;
  color: #252525;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.tel-num:hover {
  color: $primary;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 44px;
  color: black !important;
}

.menu-product {
  width: 395px;
  height: 70px;
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

.span {
  position: relative;
  bottom: 4px;
}

.nav-li-border {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 70px;
  border-radius: 7px;
  display: block;
  overflow: hidden;
  a {
    &:before {
      transform: translateX(100%);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 99.5%;
      height: 2px;
      border-radius: 7px;
      border-bottom: 2px solid transparent;
      border-left: 2px solid transparent;
    }

    &:after {
      transform: translateX(-100%);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 99.5%;
      height: 2px;
      border-radius: 7px;
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
    }

    &:hover {
      color: inherit;
      text-decoration: none;

      &:before {
        transition: 0.1s transform linear, 0.1s height linear 0.1s;
        transform: translateX(0);
        height: 100%;
        border-radius: 7px;
        border-color: $primary;
      }
      &:after {
        transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
        transform: translateX(0);
        height: 100%;
        border-radius: 7px;
        border-color: $primary;
      }
    }
  }
}

.user-admin-pages {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-burger-menu {
  width: 47px;
  height: 41px;
  display: flex;
  border: 2px solid white;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}

.header-burger-menu:hover {
  border: 2px solid #b5d8f7;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.border {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  position: relative;
  cursor: pointer;
}
