.container {
  margin: 50px auto;
  width: 725px;
  height: 250px;
}

.bad-words {
  font-size: 24px;
  margin-bottom: 10px;
}

span {
  color: red;
}

.btn-add,
.btn-reset {
  width: 93px;
  height: 38px;
  border-radius: 4px;
  border: none;
  margin: 7px 4px;
}

.btn-add {
  background-color: darkorange;
}

.btn-add:active {
  border: 3px solid #ffd400;
}

.btn-reset {
  color: white;
  background-color: red;
}

.btn-reset:active {
  border: 3px solid #eb6464;
}

.btn-cenzor:active {
  border: 3px solid rgb(0, 136, 0);
}

.input-word {
  width: 485px;
  height: 40px;
  outline: none;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 17px;
  color: gray;
}

textarea {
  resize: none;
  width: 693px;
  height: 100px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 17px;
  color: gray;
}

.btn-cenzor {
  width: 693px;
  height: 44px;
  background-color: rgb(1, 185, 1);
  border: none;
  margin-top: 9px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}

.input-word:placeholder-shown,
textarea:placeholder-shown {
  font-size: 16px;
  color: lightgray;
  padding: 5px;
  outline: none;
}

.input-word:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 2px rgb(0, 140, 255, 40%);
  outline: 1px solid rgb(0, 140, 255);
}

.btn-close {
  position: relative;
  top: -103px;
  left: 668px;
  width: 19px;
  height: 19px;
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
}

.blue {
  color: blue;
}

.white {
  color: white;
}

.value {
  border: 1px solid red;
  color: #c60303;
}

.novalue {
  border: 1px solid gray;
}

.nav-tabs .nav-link.active{
  color: #01b901;
}

.back-to {
  width: 1070px;
  text-align: right;
  color: red;
}


.btn-last{
  align-self: center;
  width: 150px;
  margin-left: 45px;
}