body {
    font-family: sans-serif;
  }
  
  .box {
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .conteiner {
    width: 1339px;
    margin: 10px;
    padding-left: 19px;
  } 
  
  h1 {
    padding-top: 10px;
    font-weight: bolder;
  }
  
  .style-input {
    width: 1000px;
    height: 35px;
    margin: 20px auto;
    border-radius: 3px;
    outline: none;
    border: 1px solid gray;
  
  }
  
  .style-input:focus {
    box-shadow: 0px 0px 0px 4px rgb(0, 140, 255, 40%);
    outline: 1px solid rgb(0, 140, 255);
  }
  
  .button-1 {
    height: 41px;
    width: 300px;
    background-color:  rgb(1, 185, 1);;
    border: 2px solid rgb(5, 169, 5);
    font-size: 18px;
    color: white;
    border-radius: 5px;
    margin: 10px 10px;
  }
  
  .button-1:focus {
    background-color: rgb(1, 126, 1);
    ;
    border: none;
    color: white;
    border: 3px solid rgb(5, 185, 5);
  }
  
  input[placeholder] {
    padding-left: 10px;
    font-size: 15px;
  }
  
  .value {
    border: 1px solid red;
    color: #c60303;
  }
  
  .novalue {
    border: 1px solid gray;
  }

  .nav-tabs .nav-link.active{
    color: #01b901;
  }
  
  .back-to {
    width: 1070px;
    text-align: right;
    color: red;
  }

  .btn-last{
    align-self: center;
    width: 150px;
    margin-left: 45px;
  }