<div class="container-fluid">
  <div class="blok-title"></div>
  <div class="info-action">
    <span [routerLink]="['']" routerLinkActive="active">Головна </span><span [routerLink]="['/actions']">
        ● {{ currentAction.name}}</span> 
    <span>  ● {{ currentAction.title }}</span>
  </div>
  <div class="container">
    <div class="baner">
      <div class="info-title">
      <div class="hr"></div>
      <div class="title">{{ currentAction.title }}</div>
      </div>
    </div>
    <div  class="info-description">
    <p>{{ currentAction.description }}</p>
    </div>
  </div>
</div>
