<nav class="navbar navbar-light" style="background-color: rgb(53, 53, 53)">
  <div class="container-fluid">
    <span class="navbar-brand text-white">Angular blog</span>
    <div *ngIf="footerFirst" class="d-flex">
      <button
        type="button"
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
      >
        Sing in
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
      >
        Sing Up
      </button>
    </div>
    <div *ngIf="footerUser" class="d-flex">
      <button
        type="button"
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
      >
        Add post
      </button>
      <div class="userName">{{ userName }}</div>
      <button
        (click)="singOut()"
        type="button"
        class="btn btn-outline-warning"
        data-bs-toggle="modal"
      >
        Sing Out
      </button>
    </div>
  </div>
</nav>

<app-posts></app-posts>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Sing in</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Email:</p>
        <div class="form-floating mb-3">
          <input
            [(ngModel)]="email1"
            type="email"
            class="form-control"
            id="floatingInput"
            name="email1"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Write email here..</label>
        </div>
        <p>Password:</p>
        <div class="form-floating">
          <input
            [(ngModel)]="password1"
            type="password"
            required
            minlength="4"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Write password here..</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
        [disabled]="!email1 || !password1"
          (click)="submitSingIn()"
          type="submit"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Sing Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Username:</p>
        <div class="form-floating">
          <input
            [(ngModel)]="userName2"
            type="text"
            class="form-control"
            placeholder="Username"
            id="floatingUserName"
          />
          <label for="floatingUserName">Write name here..</label>
        </div>
        <p>Email:</p>
        <div class="form-floating mb-3">
          <input
            [(ngModel)]="email2"
            type="email"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Write email here..</label>
        </div>
        <p>Password:</p>
        <div class="form-floating">
          <input
            [(ngModel)]="password2"
            type="password"
            required
            minlength="4"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Write password here..</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
        [disabled]="!userName2 || !email2 || !password2"
          (click)="submitSingUp()"
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Sing Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Title:</p>
        <div class="form-floating">
          <input
            type="text"
            [(ngModel)]="titleName"
            name="titleName"
            class="form-control"
            placeholder="title"
            id="titleName"
          />
          <label for="titleName">Title..</label>
        </div>
        <p>Text:</p>
        <div class="form-floating">
          <textarea
            [(ngModel)]="textarea"
            name="textarea"
            class="form-control"
            placeholder="Leave a comment here"
            id="textarea"
          ></textarea>
          <label for="textarea">Text..</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          [disabled]="!titleName || !textarea"
          (click)="addPost()"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Post
        </button>
      </div>
    </div>
  </div>
</div>
