.container{
    display: flex;
    height:100%;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
}

.card-img-top{
    width: 285px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    margin-top: 20px;
    padding: 100px;
}

img{
    border: none;
    box-shadow: none;
}

.img-1{
    background-image: url(../../img/1.png);
    margin-left: 50px;
}

.img-2{  
    background-image: url(../../img/2.png);
}

.img-3{  
    background-image: url(../../img/3.png);
}


.btn-primary {
    background-color: rgb(1, 185, 1);
    width: 250px;
    border-color: rgba(0, 0, 0, 0);
    
}

.container .card{
    height: 21rem;
    width: 21rem;
    align-items: center;
    border-radius: 5px;
}

.btn-primary:active{
    box-shadow: none;
    border: 2px solid #71eb71;
} 

h5{
    text-align: center;
    color: red;
    margin: 0px auto 23px auto;
}

.card-body{
    background-color: #dcdcdc45;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}