<div class="conteiner">
    <table>
        <thead class="thead">
            <td>#</td>
            <td>Task</td>
            <td>Check</td>
            <td>Done/In Progress</td>
            <td>Edit</td>
            <td>Delete</td>
        </thead>
        <tbody>
            <tr *ngFor="let task of arrayTask; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ task.name }}</td>
                <td>
                    <input type="checkbox" [checked]="task.isChecked" (change)="changeChack(i)" />
                </td>
                <td [ngStyle]="{ color: task.isChecked ? 'green' : 'red' }">
                    {{ task.status }}
                </td>
                <td>
                    <input type="button" value="Edit" class="edit" (click)="editUser(i)" />
                </td>
                <td>
                    <input type="button" value="Delete" class="delete" [ngStyle]="{
              'background-color': task.isDisabled ? '#ff0000b8' : 'red'
            }" [disabled]="task.isDisabled" (click)="deleteUser(i)" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="block-edit" *ngIf="editStatus" #childLengs>
        <input type="text" class="input-edit" [(ngModel)]="taskNew" />
        <input *ngIf="editStatus" type="button" value="Edit user" class="button-1" name="editUp"
            (click)="saveEditUser()" />
    </div>
</div>